{{- define "main" }}

  {{- $authors := $.Site.Data.authors }}
  <header class="post-title">
    <div class="block">
      <img src="{{ .Params.Image }}" alt="..."/>
      <div class="flex">
        {{- range $author := .Params.authors }}
        <div class="mx-auto flex flex-col items-center -translate-y-1/2">
          <img
            src="{{ index $authors $author "imageUrl" }}"
            class="w-32 rounded-full"
            alt="..."
          />
          <div class="text-gray-600 text-lg">
            {{ index $authors $author "name" }}
          </div>
        </div>
        {{- end}}
      </div>
    </div>
    <h1>
      {{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
    </h1>
  </header>

  {{- if .Content }}
  <div class="post-content">
    <article class="p-3 ">
      <div class="block">
        <div class="text-gray-600 italic">
          {{- .Params.Date | time.Format "2006-01-02" }}
        </div>
      </div>
        <div class="">
          <p>
            {{ .Content }}
          </p>
        </div>
    </article>
  </div>
  {{- end }} 

{{- end }}{{/* end main */}}
