{{- define "main" }}
  {{$staticURL := .Site.Params.staticURL}}
  {{- $authors := $.Site.Data.authors }}
  <div class="w-4/5 mx-auto">
  <header class="post-title">
    <div class="block">
      <img src="{{.Site.Params.staticURL}}/{{ .Params.Image }}?raw=true" alt="..." class="rounded-lg mx-auto"/>
      <div class="flex">
        {{- range $author := .Params.authors }}
        <div class="mx-auto flex flex-col items-center -translate-y-1/2">
          <img
            src="{{$staticURL}}{{ index $authors $author "imageUrl" }}?raw=true"
            class="w-32 rounded-full"
            alt="..."
          />
          <div class="text-gray-600 text-lg">
            {{ index $authors $author "name" }}
          </div>
        </div>
        {{- end}}
      </div>
    </div>
    <h1>
      {{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
    </h1>
  </header>

  {{- if .Content }}
  <div class="post-content">
    <article class="p-3 ">
      <div class="block">
        <div class="text-gray-600 italic">
          {{- .Params.Date | time.Format "2006-01-02" }}
        </div>
      </div>
        <div class="lg:text-2xl">
          <p>
            {{ .Content }}
          </p>
        </div>
    </article>
  </div>
  {{- end }} 

  </div>
{{- end }}{{/* end main */}}
