<header class="header class mb-3">
  <nav class="shadow-lg container mx-auto px-6 py-4 rounded-lg">
  <div class="flex items-center justify-between">
    <div class="mb-2 sm:mb-0">
      <a
        href="/"
        class="text-2xl no-underline text-gray-800 hover:text-gray-400"
        >KRUX</a
      >
    </div>
    <div>
        {{- $currentPage := . }}
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}
                class="text-lg no-underline text-gray-800 hover:text-gray-400 px-2 lg:px-3"
                >
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                    {{- if (findRE "://" .URL) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </a>
            {{- end }}
    </div>
    <div class="bg-khaki px-4 py-3 rounded-lg font-sans text-xs font-semibold tracking-widest">
      <a href="https://uwm.org/projects/63685/" class="text-white">DONATE</a>
    </div>
  </nav>
</header>
