{{ define "main" }}
  <div class="parallax bg flex flex-col justify-center">
    <div class="mx-auto flex flex-col">
      <h1 class="text-7xl flex mx-auto text-gray-300">KRUX</h1>
      <h1 class="text-lg font-sans text-gray-300">
        A Community of Christian Formation
      </h1>
    </div>
  </div>
  <div class="pt-4 mx-auto w-4/5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget
    felis eget nunc lobortis mattis aliquam. Diam donec adipiscing tristique
    risus nec. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien.
    Quis varius quam quisque id. Quis ipsum suspendisse ultrices gravida dictum.
    Elit scelerisque mauris pellentesque pulvinar pellentesque. Mauris a diam
    maecenas sed enim ut sem viverra aliquet. Etiam non quam lacus suspendisse
    faucibus interdum posuere lorem. Tortor at auctor urna nunc id. Nam libero
    justo laoreet sit amet cursus. Et magnis dis parturient montes. Nulla
    pellentesque dignissim enim sit amet venenatis. Viverra mauris in aliquam
    sem. Quis imperdiet massa tincidunt nunc. Non sodales neque sodales ut. Nibh
    cras pulvinar mattis nunc sed blandit. Ultrices mi tempus imperdiet nulla.
    Vitae proin sagittis nisl rhoncus. Lorem dolor sed viverra ipsum. Eget mi
    proin sed libero enim sed faucibus turpis. Aliquam eleifend mi in nulla
    posuere sollicitudin aliquam ultrices. Convallis a cras semper auctor neque
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget
    felis eget nunc lobortis mattis aliquam. Diam donec adipiscing tristique
    risus nec. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien.
    Quis varius quam quisque id. Quis ipsum suspendisse ultrices gravida dictum.
    Elit scelerisque mauris pellentesque pulvinar pellentesque. Mauris a diam
    maecenas sed enim ut sem viverra aliquet. Etiam non quam lacus suspendisse
    faucibus interdum posuere lorem. Tortor at auctor urna nunc id. Nam libero
    justo laoreet sit amet cursus. Et magnis dis parturient montes. Nulla
    pellentesque dignissim enim sit amet venenatis. Viverra mauris in aliquam
    sem. Quis imperdiet massa tincidunt nunc. Non sodales neque sodales ut. Nibh
    cras pulvinar mattis nunc sed blandit. Ultrices mi tempus imperdiet nulla.
    Vitae proin sagittis nisl rhoncus. Lorem dolor sed viverra ipsum. Eget mi
    proin sed libero enim sed faucibus turpis. Aliquam eleifend mi in nulla
    posuere sollicitudin aliquam ultrices. Convallis a cras semper auctor neque
  </div>
{{ end }}
