{{ define "main" }}
  <div class="h-[25vh] lg:h-[50vh] bg2 flex flex-col justify-center"></div>
  <div>
    <div class="mx-auto container px-4 lg:w-1/2 pt-10">
      <h1 class="text-4xl">What is KRUX?</h1>
      <div class="pt-4 font-sans text-slate-700">
        <div>
          Stellenbosch, a vibrant university town in the Western Cape of South
          Africa, is a place of extraordinary beauty; a confluence of intellect
          and imagination. It is a place that sifts, weighs, and unmasks the
          crux of our beliefs.
        </div>
        <br />
        <div>
          <b>KRUX</b> Christian Study Center is a community of Christian
          formation tucked in the heart of Stellenbosch. Launched by native
          South Africans JB and Corli Krohn in 2015, KRUX disciples young adults
          through theological education, mentoring, community, and a unique
          focus on the arts.
        </div>
      </div>
    </div>
    <div class="mx-auto container px-4 lg:w-1/2 pt-10">
      <h1 class="text-4xl">Why <i>Theological</i> discipleship?</h1>
      <div class="pt-4 font-sans text-slate-700">
        <div>
          Each week, KRUX offers in-depth study of the Word, followed by lively
          discussion and robust engagement with the implications of a living
          theology in the real world.
        </div>
        <br />
        <div>
          One would expect this kind of theological discipleship to be a natural
          outflow of trusting in Christ and the coming of His Kingdom – the
          central act of God towards humanity. In reality, discipleship
          frequently finds itself marginalised in the Christian enterprise; with
          theology mostly banished to the seminary classroom, divorced from
          everyday life. The result is unschooled disciples and untested
          theologians.
        </div>
        <br />
        <div>
          In contrast, orthodox faith demands a Word-birthed and Word-centred
          spirituality generating and sustaining a Word-shaped community, yet
          well-versed in cultural literacy.
        </div>
      </div>
    </div>
  </div>
{{ end }}
